.content-container {
    flex:7;
    overflow: hidden;
    padding: 20px 0px;
}
.buttonDiv{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.button {
    border: none;
    background-color: #07294D;
    color: white;
    padding: 10px 12px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}