.p-sidebar-header {
  display: none;
}

.p-sidebar {
  width: 280px;
  background-color: #fff6e3;
  border-radius: 0 20px 20px 0;
  box-shadow: none;
}

.sidebar-button {
  position: fixed;
  top: 20%;
  left: -1px;
  transform: translateY(-50%);
  width: 18px;
  height: 60px;
  padding: 0;
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  border-radius: 0 5px 5px 0;
}

.sidebar-button::after {
  content: '';
  position: absolute;
  top: 7.5px;
  left: 6.5px;
  width: 3.5px;
  height: 43px;
  background-color: #8f8f8f; /* 선의 색상 */
}

.sidebar-button:hover {
  background-color: #f0f0f0;
}

.sidebar-title {
  margin-left: 15px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0;
}

.foldIcon {
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  top: 15px;
  left: 240px;
  opacity: 0.5;
}

.foldIcon:hover {
  opacity: 0.8;
}

.beeIcon {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.title {
  color: #07294d;
  font-size: 37px;
  cursor: pointer;
  pointer-events: auto;
  margin: 0;
  padding: 0;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  cursor: default;
  pointer-events: none;
  position: relative;
}

.sidebar-link:last-of-type::after {
  content: '';
  position: absolute;
  top: 60px;
  left: 10px;
  width: 230px;
  height: 1px;
  background-color: #eddeea;
}

.sidebar-icon {
  width: 33.61px;
  height: 29px;
  margin-right: 15px;
}

.sidebar-text {
  font-size: 22px;
  color: #8d8d8d;
  font-weight: 700;
  pointer-events: auto;
}

.sidebar-text:hover {
  color: #07294d;
  cursor: pointer;
}
