@layer tailwind-base, primereact, tailwind-utilities;

/* IMPORTANT: In "styled" mode you must add the PrimeReact Theme here. Do NOT include in "unstyled" mode */
@import 'primereact/resources/themes/saga-blue/theme.css';

/* PrimeReact 핵심 CSS */
@import 'primereact/resources/primereact.min.css';

/* PrimeIcons CSS */
@import 'primeicons/primeicons.css';

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@font-face {
  font-family: 'Roboto Medium';
  src: url('/fonts/Roboto-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Roboto', sans-serif;
  /* overflow: hidden; */
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
  font-weight: bold;
}

.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link {
  background-color: #d9d9d9;
  color: #5c5c5c;
  border-bottom-color: #d9d9d9;
}

/* hover 상태일 때의 스타일 */
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:hover {
  background-color: rgba(0, 0, 0, 0.02); /* 반투명한 검은색으로 음영 효과 */
  border-bottom-color: #d9d9d9;
  /* color: #333; */
}

/* 활성 탭에 대한 hover 효과 (필요한 경우) */
.p-tabmenu .p-tabmenu-nav .p-tabmenuitem.p-highlight .p-menuitem-link:hover {
  background-color: #c9c9c9; /* 활성 탭의 hover 배경색을 약간 더 어둡게 */
}

.custom-tieredmenu .p-menuitem-link {
  background-color: white !important;
}

.custom-tieredmenu .p-menuitem-link:hover {
  background-color: #e9ecef !important;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.p-tooltip {
  max-width: 'auto';
}

.p-tooltip .p-tooltip-text {
  font-size: 11px;
  line-height: 1.2;
  text-align: center;
}